@charset "utf-8";
/* CSS Document */
	/*
	? -> Nicht Benutzt
	! -> Beendet einen Bereich
	TODO
	*/


	/* ------------- */
	/* 	Body	*/
	body{
			margin: 0%;
			padding: 0;
			background-color: #ffccaaff;
	}
	/*! End Body */

	/* ------------- */
	/* 	Navbar	*/
	nav {
		
		height: 90px;
		width: 100%;		
		background-color: #ffccaaff ; 
		opacity: 95%;
		border-bottom: thin;
		border-bottom-style: solid;  
		left: 0;
		overflow: hidden;
  		position: fixed; /* Set the navbar to fixed position */
  		top: 0; /* Position the navbar at the top of the page */
		z-index: 10;  
  		
		
	}
	
	nav ul {
		float:right;
		
	}
	
	nav a {
		display: inline-block;
		
	}
	
	nav li {
		
		display: inline-block;
		margin-top: 30px;
		margin-right: 30px;
		
	}
	.nav-li-a{
		font-size: 20px;
		color: #2b1100ff;
		text-decoration: none;
		/*border-style: solid;
		border-radius: 10px;
		padding: 2px;*/
	}
	
	.nav-li-a:hover{
		color: #000080ff;
	}

	#Logo1{		
		margin-top: 35px;
		margin-left: 45%;
	}
	
	#Logo1 img {
		width: 160px;
	}
	
	#Logo1 img:hover{
		transform: scale(1.1);
	}

	/*! 	End Navbar	*/
	
	/* ------------- */
	/* 	Impressum Text	*/
	#Impressum{
		color: #000080ff;
		text-decoration: none;
	}
	/*! 	End Impressum Text	*/
	
	/* ------------- */
	/* 	Infotext	*/
	#Infotext{
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 10%;
		font-size: 20px;
	}
	/* 	End Infotext	*/
	
	/*! ------------- */
	
	/* ------------- */
	/* Flex Grid for Images */
	.flex { 
    	display:flex; 
    	justify-content: space-between; 
    	align-items: center;
		max-width: 100vh;
		margin-left: 10%;
		margin-right: 10%;
		
	}
	/*! End Flex Grid */

	/* ------------- */
	/* Images */
	.Bilder{
		width: 30%;
		padding: 5px;
		margin-top: 15%;
		margin-bottom: 20%;
		border-radius: 20px;
		
		
	}

	
	/*! End Images */
	
	/* ------------- */
	/*? NOT in use */
	#Footer-Text{
		margin-left: 45%;
		margin-top: 1%;
	}

	/* ------------- */
	/* Button Submit (in footer) */
	#Button-Submit{
		color: #2b1100ff!important;
		border-color: #2b1100ff!important;
		background-color: transparent!important;
		border-radius: 6px;
		border-width: 2px;
		
	}

	#Button-Submit:hover{
		color: #ffccaaff!important;
		border-color: #2b1100ff!important;
		background-color: #2b1100ff!important;
		border-radius: 6px;
		border-width: 2px;
	}
	/*! End Button Submit */

	/* ------------- */
	/* Newsletter */
	#newsletter1{
		border-width: 2px;
		border-radius: 6px;
		color: #2b1100ff!important;
	}
	/*! End Newsletter */
	
	/* ------------- */
	/* Input (all) */
	input::placeholder{
		color: #2b1100ff!important
	}
	/*! End Input  */

	/* ------------- */
	/* Links a */
	#Links a{
		color: #2b1100ff!important;
	}

	#Links a:hover{
		color: #000080ff!important;
	}
	/*! End Links a*/

	/* ------------- */
	/* Impressum -> Im Footer, nicht die Seite*/
	#Impressum{
		color: #2b1100ff!important
	}

	#Impressum:hover{
		color: #000080ff!important;
	}
	/*! End Impressum */
	
	/* ------------- */
	/* Form Control */
	.form-control:focus {
			border-color: #2b1100ff;
			box-shadow: 0 0 0 0.2rem #ff00ffff!important;
	}
	/*! End Form Control */ 

	/* ------------- */
	/* Container Center */
	#ContainerCenter{
		text-align: center;
		margin-top: 120px;
	}
	/*! End Container Center */

	/* ------------- */
	/* Über Uns Text */
	#ÜberUnsText{
		margin-left: 20%;
		margin-right: 20%;
		font-size: 17px;
	}
	/*! End Über Uns Text */

	/* ------------- */
	/* Free Vektor -> Impressum Fee */
	#FeeVektor{
		width: 150px;
		margin-top: 20px;
	}
	/*! Free Vektor */